@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    /* background palette */
    --boolzapp-bg-top: #009688;
    --boolzapp-bg-main: linear-gradient: #dcdbd1, #d3dbdc;
    /* app palette */
    --boolzapp-primary: #eaeaea;
    --boolzapp-secondary: #d5f9ba;
    --boolzapp-accent: #8edafc;
    --boolzapp-grey: #b1b1b1;
    --boolzapp-darkgrey: #6b7376;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(220, 219, 209, 1) 15%, rgba(211, 219, 220, 1) 80%);

}


.debug {
    border: 1px dashed black;

}

.d-flex {
    display: flex;
}

#app {
    height: 95vh;
    max-width: 1200px;


    border: 1px dashed black;
    margin: 1rem auto;
    display: flex;

    overflow: hidden;

}




.left {

    border: 1px dashed black;
    width: 450px;
    height: 100%;


}

.user,
.banner,
.search {
    border: 1px solid black;
    height: 80px;
}

.user {
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    background-color: var(--boolzapp-primary);
}

img {
    border-radius: 50%;
}

.icons {
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--boolzapp-grey);
    padding-right: 1rem;
}

.banner {
    padding: .5rem;
    background-color: var(--boolzapp-accent);
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boolzapp-primary);
    position: relative;
}

.search>i {
    position: absolute;
    left: 1.75rem;
    color: var(--boolzapp-darkgrey);
    font-size: 1.25rem;

}

#search {
    height: 3rem;
    width: 96%;
    padding-left: 3.5rem;
    font-size: 1.25rem;
    border: none;


}

.notifications {
    padding: 1rem;
    font-size: 1.25rem;
}

a {
    color: var(--boolzapp-darkgrey);
}

.icon_box {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon_box i {
    font-size: 1.5rem;
    color: var(--boolzapp-accent);
}


.bottom_left {


    height: calc(100% - 240px);
    overflow: auto;
}



.box_message {
    flex-grow: 1;

}

.hour {
    align-self: flex-start;
    padding-top: .5rem;
    padding-right: .5rem;
}

h2,
p {
    font-weight: 400;
}

p {
    color: var(--boolzapp-grey);
}

.right {
    border: 1px solid black;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top,
.bottom {
    border: 1px solid black;
    height: 80px;
}

.top>.user>.box_message {
    padding-left: 1rem;
}

.chat {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

.send,
.received {
    border: 1px solid black;
    width: 60%;
    height: 120px;
    margin: 1rem 0;
}

.send {
    align-self: flex-end;
}

.received {
    align-self: flex-start;
}



@media screen and (max-width: 991px) {
    .left {
        width: 100px;
    }

    .banner,
    .search,
    .box_message,
    .icons,
    .hour {
        display: none;
    }

    #app {
        margin: 0;
        height: 100%;
    }

    .user {
        justify-content: center;
    }

    .bottom_left {
        height: 100vh;
        overflow: auto;
        background-color: var(--boolzapp-primary);
    }


    .top>.user>.box_message {
        flex-direction: column;
    }

    .top>.user>.box_message,
    .top>.user>.icons {
        display: inline-flex;
    }

}


@media screen and (max-width: 540px) {

    .left,
    .top>.user>.icons {
        display: none;
    }
}