* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* background palette */
    --boolzapp-bg-top: #009688;
    --boolzapp-bg-main: linear-gradient: #dcdbd1, #d3dbdc;
    /* app palette */
    --boolzapp-primary: #eaeaea;
    --boolzapp-secondary: #d5f9ba;
    --boolzapp-accent: #8edafc;
    --boolzapp-grey: #b1b1b1;
    --boolzapp-darkgrey: #6b7376;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(220, 219, 209, 1) 15%, rgba(211, 219, 220, 1) 80%);
    display: flex;
    justify-content: center;

}


.app {
    width: 80vw;
    max-width: 1520px;
    height: 95vh;
    min-height: 300px;
    max-height: 1200px;
    margin: auto;
    border: 2px solid yellow;
}

.container {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
    display: flex;


}

.row {
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: #8edafc;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.col-4 {
    width: calc((100%/12)*4);

}

.col-8 {
    width: calc((100%/12)*8);

}

.top {
    height: 100px;
    background-color: plum;
    border: 1px solid yellow;
}

.top>.left,
.main>.left {
    display: flex;

}

.main {
    height: 100%;
    background-color: chocolate;
    overflow: hidden;
}


.avatar {
    height: 90px;
    aspect-ratio: 1;
    background-color: var(--boolzapp-bg-top);
}

.box {
    height: 90px;
    width: 100%;
    background-color: #6b7376;
}

.banner {
    height: 100px;
    width: 100%;
    background-color: #8edafc;
    position: sticky;
}

.search_bar {
    height: 60px;
    width: 100%;
    background-color: #d5f9ba;

}

.main.left {
    overflow-y: scroll;
}











/* media queries */
@media screen and (max-width: 991px) {
    .col-md-12 {
        width: 100%;
    }

    .bottom {
        flex-grow: 1;
    }

    .box,
    .banner,
    .search_bar,
    .member.box {
        display: none;
    }


}


@media screen and (max-width: 540px) {}