* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* background palette */
    --boolzapp-bg-top: #009688;
    --boolzapp-bg-main: linear-gradient: #dcdbd1, #d3dbdc;
    /* app palette */
    --boolzapp-primary: #eaeaea;
    --boolzapp-secondary: #d5f9ba;
    --boolzapp-accent: #8edafc;
    --boolzapp-grey: #b1b1b1;
    --boolzapp-darkgrey: #6b7376;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(220, 219, 209, 1) 15%, rgba(211, 219, 220, 1) 80%);
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.app {
    width: 80vw;
    max-width: 1920px;
    height: 95vh;
    margin: auto;
    border: 1px solid black;
}

.container {
    width: 100%;
    height: 100%;
    border: 2px solid purple;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

.debug .left {

    border: 1px dashed red;
}

.debug .right {

    border: 1px dashed blue;
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-8 {
    width: calc((100%/12)*8);
}

.nav {
    height: 10vh;
    background-color: magenta;
    overflow: hidden;
    z-index: 2;
}

/* #region left */



.cookie {
    height: 12vh;
    background-color: aqua;
}

.search-bar {
    height: 8vh;
    background-color: lightgreen;
}

.list {
    width: 100%;
    height: 65vh;
    overflow: auto;

}



.member {
    height: 12vh;
    background-color: lightpink;
    border: 1px solid black;
    overflow: hidden;

}

/* #endregion left */

/* #region right */
.container_right {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.chat_container {
    width: 80%;
    height: 100%;
    margin: -1rem auto;
    background-color: chocolate;
    padding: 3.5rem 0;
    overflow: auto;

}



.col-7 {
    width: calc((100%/12)*7);


}

.card {
    background-color: #fd0962;
    border: 2px solid black;
    margin: .5rem 0;
}

.me {
    display: flex;
    flex-direction: row-reverse;
}

/* #endregion right */